<link rel="stylesheet" href="/assets/css/sb-admin-2.css">
<link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  {{> admin_sidebar}}
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content mt-5">

      <!-- Topbar -->
      {{> admin_navbar}}
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Category</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
          {{> admin/categorynav}}
        
        </div>

        <!-- Content Row -->
        <div class="row">
          <div class="col-12 mb-4">
            <!-- Approach -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create Category</h6>
              </div>
              <div class="card-body">
                <form id="create-media" class="user needs-validation" action="/admin/category" method="POST"
                  enctype="multipart/form-data" novalidate>
                  <div class="form-group">
                    <input type="text" name="name" class="form-control form-control-user" id="exampleInputEmail"
                      aria-describedby="emailHelp" placeholder="Enter Category Name..." required>
                    <div class="invalid-feedback">
                      Name is required
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea type="text" name="description" rows="3" class="form-control form-control-user rounded-1" id="exampleInputUsername"
                      aria-describedby="usernameHelp" placeholder="description..."></textarea>
                    <div class="invalid-feedback">
                      description is required
                    </div>
                  </div>

                  <div class="form-group row d-block">
                    <label for="id_image_file">Image Category</label>
                    <input name="image_url" type="file" id="id_image_file" accept="image/*" class="form-control" value=""
                      required>

                  </div>

                  <hr>
                  <ul id="error" class="text-danger col-12"></ul>

                  <div class="spinner-border col-12 d-none" id="status" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>

                  <progress id="progressBar" value="0" max="100" style="width: 100%; display: none;"></progress>
                  <hr class="mb-3">

                  <button type="submit" id="btn" class="btn btn-primary btn-user btn-block">
                    Create
                  </button>
                  <hr>
                </form>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- Core plugin JavaScript-->
<script type="module" src="/assets/js/uploader.js"></script>



<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets/js/sb-admin-2.min.js"></script>