:root{
    --black: black;
    --white:white;
    --green: #1A5F16;
    --gold: #E8A317;
    --bg-body: #020325;
    --bg-blue-transparent: #141668;
    --blue-transparent: #287ea3da;
}


body {
  font-family: var(--font-stack-body), sans-serif;
  font-weight: var(--font-weight-body); /* Default: 400 */
}

h1, h2, h3, h4 {
  font-family: var(--font-stack-header), sans-serif;
  font-weight: var(--font-weight-header); /* Default: 400 */
}

/* Example usage with different weights */
.button {
  font-family: var(--font-stack-body);
  font-weight: 600; /* Uses Jost-SemiBold */
}

header a{
  font-family: var(--font-stack-header);
  font-weight: var(--font-weight-body);
}


.bg-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.336)), url('../img/a1.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

.nav-link {
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: larger;
}

.nav-link:hover {
  color: var(--gold) !important;
  border-bottom: 1px solid var(--black);

}

.btn-gold {
  background-color: var(--gold);
  color: var(--white);
  border: none;
  transition: all .3s ease-in-out;
}

.btn-gold:hover {
  background-color: #d19415;
  color: var(--white);
}